/* p {
	font-family: "Arial Black";
}
p {
	font-family: "Arial";
}
p {
	font-family: "Georgia";
}
p {
	font-family: "Verdana";
}
p {
	font-family: "Trebuchet MS";
}
p {
	font-family: "Impact";
}
p {
	font-family: "Courier New";
}
*/
p {
	font-family: "Comic Sans MS";
}