 /* p {  
	font-family: Arial;
 } 
p { 
	font-family: "Georgia";
}
p {
	font-family: "Verdana";
}
*/
/*p
p {
	font-family: "Trebuchet MS";
}
 {
	font-family: "Impact";
}
p {
	font-family: "Arial Black";
} 
*/p { 
	font-family: "Comic Sans MS";
}
/* p {
	font-family: "Courier New";
} */
