p {
	font: 13px/20px "Times new Roman";
}

	p {
		font:bold ;
		width: 300px;
		font-family: Arial;
		color: red;
		font-size: 40px;
		font-weight: bold;
	}
	p {
		font-family: Arial;
		font-size: 40px;
		font-weight: bold;
		text-indent: 50px;
		font-style: italic;
		line-height: 60px;
	}
